.loggedIn .logo {
    display: inline-block;
    vertical-align: bottom;
    text-align: left;
    margin: 0px; 
}
.loggedIn table * {
    color: white;
    font: "Gloria Halleljuah", calibri;
    text-shadow: 0px 0px 4px #333;   
}
.loggedIn table .fc-day-number {
    font-size: 18px;   
}
.loggedIn table .fc-today {
    background: none;   
}
.loggedIn .header {
    margin-bottom: 20px;   
    padding: 10px!important;
}
.loggedIn .logo .title {
    font-size: 22px;  
}
.loggedIn .logo img {
    width: 50px;
}
.loggedIn .clear {
       display: inline-block;
}   
.loggedIn .main {
    margin: auto;
    max-width: 800px;
}
.loggedIn .main > div {
    padding: 20px; 
    border-radius: 15px;
    box-shadow: 0px 1px 1px #333;  
    background: rgba(0,0,0,0.2)!important;
} 
.loggedIn .modal-dialog {
    margin-top: 150px;  
    z-index: 1031; 
}
.loggedIn .header .clear ul{
   list-style: none outside;
}
.loggedIn .header .clear ul li{
   margin: 0px 10px!important;
}
.loggedIn .header .clear ul li a{
   text-transform: capitalize;
   text-decoration: none; 
   font-size: 16px;
   color: white;
}
.modal-backdrop {
    z-index: 1!important;   
}