.main p.field{
    padding: 0px;
}
.main .login .field label{
    min-width: 100px;
    font-weight: normal;
}
.main .login .field input {
    border: none;
    padding: 5px;
    border-radius: 5px;
    min-width: 230px;
    color: #333;
    font-style: italic;
    border: 1px solid #ccc;
}
.main .login {
    text-align: center;   
}

    